@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="title-container">
		<img src="~/img/youtubelogo.png" alt="Icon" class="icon" />
        <h1 class="display-4">Money Tips Monthly</h1>
    </div>
    
    <br />
    <h2>Budget - Save - Invest</h2>

    <ul>
        <li>Financial advice on a monthly basis - learn how to live within your means - sharing with you what I’ve learned from experts.</li>
        <li>Money tips on how to thrive financially and find financial security by living happily within your means.</li>
        <li>Many of these tips are applied by multimillionaires and other successful people, and they can work for almost anyone.</li>
    </ul>


    <div class="slider-container">
        <button class="slide-button prev-button">&#10094;</button>
        <div class="slider">
            <div class="slide">
				<img src="~/img/video 1.jpg" />
            </div>
            <div class="slide">
				<img src="~/img/video 2.jpg" />
            </div>
            <div class="slide">
				<img src="~/img/video 3.jpg" />
            </div>
            <div class="slide">
				<img src="~/img/video 4.jpg" />
            </div>
        </div>
        <button class="slide-button next-button">&#10095;</button>
    </div>

    <p>
        Hi I'm Jaden, and welcome to Money Tips Monthly. 
        If you're living paycheck to paycheck, or if you have a lot of debt,
        or if you just want to become better financially, then this channel is for you.
        For no fault of your own, the world is getting harder and harder to survive financially.
        78% of Americans are living paycheck to paycheck, college students are in massive debt,
        the world is saturated with  things to grab your attention,
        that it's hard to know where to actually get good quality information.
        So that's why I created this  channel to help you out.
    </p>
    <p>
        The goal with Money Tips Monthly is to arm you with money tips so that you can not "survive",
        but "thrive" financially by  living happily within your means.
        Most of these money tips are not just from me alone,
        but they are used by multi millionaires and other successful people,
        and they can certainly apply to you. Almost anyone can do these.
        My wife and I are college students currently. My wife is about to graduate.
        But we have been able to  do it completely debt free,
        and we have a 6 months emergency fund,
        and have some healthy investments on the side. So without further adieu, let's get started!
    </p>
    <br />
    <br />
    <p>Check out the YouTube channel at <a href="https://learn.microsoft.com/aspnet/core">YouTube blocked me from being able to use my own link, so this just goes to asp documentation.'</a>.</p>
</div>


@* https://www.youtube.com/@MoneyTipsMonthly *@